@page
@model SquirrelCake.Application.Pages.UpdateModel
@{
}
<form asp-page-handler="edit" method="post">
    @Model.count
    <p>@Model.mensage</p>
    <br />
    <p>@Model.appVersion</p>
    
    <button id="btn-update" class="btn btn-default">Update App Version</button>
    <div id="demo-reply">

    </div>
</form>


