<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="1.1.0" />
    <package id="Cake.Tool" version="1.1.0" />
    <package id="Cake.Core" version="1.1.0" />
    <package id="Cake.CoreCLR" version="1.1.0" />
    <package id="Cake.Squirrel" version="0.15.1" />
    <package id="Squirrel.Windows" version="2.0.1" />
</packages>